
<!DOCTYPE html>
<html>
<head>
    <script src="../../js/index.js"></script>
</head>
  <!-- Add partial header -->
{{>header}}

    <h2>
  
      <br>
      About index

      <form>
        <input type="text"/>
        <button type="button">Search</button>

      </form>
      
    </h2>
    {{>footer}}


    
</html>
