<!DOCTYPE html>
<html>
    <body>
             {{>header}}
       
        <h2>Longitude - {{weather.longitude}}</h2>
        
        <h2>Longitude - {{weather.latitude}}</h2>
            {{>footer}}
    </body>
</html>